<div class="card">

    <div class="card-header"><h3>Edit <%= resource_name.to_s.humanize %></h3></div>

    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label "Email", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.email_field :email, class: "form-control", id: "email", autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group row">
          <%= f.label "Password", class: "col-sm-2 col-form-label" %> 
          <div class="col-sm-4">
            <%= f.password_field :password, class: "form-control", id: "password", autocomplete: "new-password", placeholder: "Password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
          </div>
        </div>
        <i>(leave blank if you don't want to change it)</i>

        <div class="form-group row">
          <%= f.label "Password Confirmation", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.password_field :password_confirmation, class: "form-control", id: "password", autocomplete: "new-password", placeholder: "Password" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "Current Password", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.password_field :current_password, class: "form-control", id: "current-password", autocomplete: "current-password", placeholder: "Current Password" %>
          </div>
        </div>
        <i>(we need your current password to confirm your changes)</i>

        <button type="submit" class="btn btn-primary">Update</button>

      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>

  </div>
</div>