<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label "First Name", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :first_name, class: "form-control", id: "first_name", placeholder: "First Name" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Last Name", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :last_name, class: "form-control", id: "last_name", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "About Author", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_area :about, class: "form-control", id: "about", placeholder: "About Author" %>
    </div>
  </div>


  <div class="form-group row">
    <%= form.label "Rating", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4" id='star-rating'></div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

<% end %>

<script>
 $('#star-rating').raty({
  path: '/assets/',
  scoreName: 'author[rating]'
 });
</script>