<p id="notice"><%= notice %></p>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Books</h1>
    <p> This is a good book review app for a user and for public sharing ...</p>
    <p><%= link_to "Sign In To Add Authors", new_user_session_path, class: "btn btn-outline-primary" %> </p>
  </div>
<% end %>

<h1>Authors</h1>

<div class="card-deck mb-3 text-center">

  <% @authors.each do |author| %>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> <%= link_to author.first_name+" "+author.last_name, author %> </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            <small class="text-muted"> 
                  <div class="star-rating" data-score="<%= author.rating %>" ></div>
            </small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li> <%= author.about %> </li>
          </ul>

          <div class="btn-group">
            <%= link_to author do %>
              <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
            <% end %>
          </div>
        </div>
      </div>


  <% end %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>