<p id="notice"><%= notice %></p>

<div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> <%= @author.first_name+" "+@author.last_name %> </h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted"> <%= @author.rating %> </small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li> <%= @author.about %> </li>
          </ul>

            <% if user_signed_in? %>
              <%= link_to "Edit", edit_author_path(@author), class: "btn btn-outline-warning" %>
            <% end %>
            <%= link_to "Back", authors_path, class: "btn btn-outline-primary" %>

        </div>
      </div>
</div>