<p id="notice"><%= notice %></p>
    <div> <%= image_tag @book.image.url, style: "width: 600px; content-align:center" %> 
      <table class="table table-hover" style="width: 600px">
        <tbody>
          <tr>
            <td>Title</td>
            <td> <%= @book.title %> </td>
          </tr>
          <tr>
            <td>Author</td>
            <td> <%= link_to @book.author.first_and_last_name, @book.author %> </td>
          </tr>
          <tr>
            <td>Overall Rating</td>
            <td> 
              <% if @book.reviews.blank? %>
                <h6>No reviews for this book yet </h6>
              <% else %>
                <div class="star-rating" data-score="<%= (@book.reviews.average(:rating).nil?) ? 0 : (@book.reviews.average(:rating).round(2)) %>" ></div> 
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td> <%= @book.description %> </td>
          </tr>

        </tbody>
      </table>
    </div>

    <% if user_signed_in? %>
      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-outline-warning" %>
    <% end %>
    <%= link_to "Back", books_path, class: "btn btn-outline-primary" %>

    <br>
    <hr>
    <% if user_signed_in? %>
      <%= link_to "New Book Review", new_book_review_path(@book), class: "btn btn-outline-info", id: "addNewBookReview" %>
    <% end %>
    <br><br>
    <% if @book.reviews.blank?  %>
      <h3>No reviews yet, be the first one to add review ...</h3>
    <% else %>
      <table class="table table-hover" style="width: 600px">
        <thead>
          <tr>
            <th>Note</th>
            <th>Rating</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <% @book.reviews.each do |review| %>
            <tr>
              <td> <%= review.review_note %> </td>
              <td> <div class="star-rating" data-score="<%= review.rating %>" ></div> </td>
              <td> <%= review.user.email %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>