<script>
    function sendSearchParams(searchParams, whatToSearch)
    {
        if (whatToSearch == 'books')
            location.href = "/books?hint="+searchParams;
        else if (whatToSearch == 'authors')
            location.href = "/authors?hint="+searchParams;
    }
</script>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"> <%= link_to "BOOKER", root_path, style: "text-decoration:none" %> </h5>

    <% if (controller_name == "books" && action_name == "index" )%>
        <div class="form-group col-md-6" style="margin-top:20px;">
            <input class="form-control col-md-10" type="search" placeholder="Search Books..." aria-label="Gözleg" onsearch="sendSearchParams(this.value, 'books')">        </div>
    <% elsif (controller_name == "authors" && action_name == "index") %>
        <div class="form-group col-md-6" style="margin-top:20px;">
            <input class="form-control col-md-10" type="search" placeholder="Search Authors..." aria-label="Gözleg" onsearch="sendSearchParams(this.value, 'authors')">
        </div>
    <% end %>

  <nav class="my-2 my-md-0 mr-md-3">

        <%= link_to authors_path, class: "btn btn-primary", id: "authorsPageLink" do %>
            <i class="fa fa-pencil"></i> &nbsp; Authors 
        <% end %>
        <%= link_to books_path, class: "btn btn-primary", id: "booksPageLink" do %>
            <i class="fa fa-book"></i> &nbsp; Books 
        <% end %>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <% if user_signed_in? %>
        <%= link_to new_author_path, class: "btn btn-outline-secondary", id: "addNewAuthorLink" do %>
            <i class="fa fa-pencil"></i> &nbsp; New Author 
        <% end %>

        <%= link_to new_book_path, class: "btn btn-outline-secondary", id: "addNewBookLink" do %>
            <i class="fa fa-book"></i> &nbsp; New Book 
        <% end %>

        <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary" do %>
            <i class="fa fa-user"></i> &nbsp; Account 
        <% end %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" do %>
            <i class="fa fa-sign-out"></i> &nbsp; Sign Out 
        <% end %>
    <% else %>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-outline-info", id: "registerLink" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-info", id: "signInLink" %>
    <% end %>
  </nav>
</div>